<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="BiliBlocker"
        android:icon="@drawable/ic_launcher"
        android:hasCode="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="在B站评论区添加「加入黑名单」按钮，一键拉黑评论用户" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scopes" />
    </application>

</manifest>
